@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

*,*:before, *:after{
    box-sizing: border-box;
}
h1,h2,h3,p{
    margin: 0;
}
h2{
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    margin-bottom: 20px;
}
h3{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 34px;
    margin-top: 54px;
}
p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
}
.container {
    width: 1160px;
    margin: 0 auto;
}
body{
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
.btn{
    display: inline-flex;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    position: absolute;
    width: 298px;
    height: 54px;
    left: calc(50% - 298px/2 + 332px);
    top: 626px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    transition: 0.2s;
     -webkit-transition: 0.2s;
    cursor: pointer;
}
.btn:hover{
    background: #E47209;
}
.btn:active{
    background:#4B9200;
}
.btn[disabled]{
    background:#767474;
    cursor: default;
}
/*header start*/
header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    }
.header{
    background-color: black;
}
.header_inner{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 82px;
    height: 52px;
    left: 220px;
    top: 14px;
    display: inline-block;
    align-items: center;
    justify-content: center;
}
.nav{
    display: flex;
    margin-right: 315px;
}
.nav_link {
    margin-right: 58px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    line-height: 140%;
}

.nav_link:after{
    width: 100%;
    height: 2px;
    color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    content: "";
    opacity: 0;
    transition: opacity .2s ease;
}
.nav_link:last-child{
    margin-right: 0;
}
.nav_link:hover:after{
    opacity: 1;
    background-color: #F9804B;
}
.nav_link:hover{
    opacity: 1;
    color: #F9804B;
}
.nav_link:active{
    opacity: 1;
    color: #F9804B;
}
.nav_link:focus{
    color: #F9804B;
}
.nav_link.active:hover:after {
    opacity: 1;
   background-color: #F9804B;
}
.nav_link.active {
   background-color: #FFFFF;
}
.header_link{
    color: #FFFFFF;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    position: relative;
    display: flex;
    justify-content: flex-end;
    text-align: right;
}
.header_link:hover{
    color: #F9804B;
}
.header_link:active{
    color: #FFFFFF;
}
.header_link:focus{
    color: #FFFFFF;
}
/* Header end*/

/*Intro start*/
.intro{
    background: url("/assets/images/Giant Panda.png") no-repeat;
    background-size: cover;
    position: relative;
}
/*.intro_content {
height: 780px;
display: flex;
align-items: center;
}
/*.intro_title{
color: #FFFFFF;
font-weight: 700;
font-size: 106.496px;
line-height: 75%;
text-align: center;
text-transform: uppercase;
margin: 0 auto;
}
.intro_title.an{
color: #FFEE2E;
}
.intro_block{

}*/
/*Intro end*/
/*Backstage start*/
.backstage_block{
    background-color: #E1DDD4;
    width: 1160px;
    height: 400px;
}
.backstage_foto{
    height: 400px;
    width: 609px;
    background: url(/assets/images/bamboo-cap.png) no-repeat;
    background-size: cover;
    margin-top: 140px;
    backdrop-filter: blur(2px);
}
.backstage_info{
    width: 465px;
    position: absolute;
    left: 810px;
    right: 0px;
    top: 920px;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #333B41;
}
/*Backstage end*/
