@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

*,*:before, *:after{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
html{
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.container {
    max-width: 1160px;
    margin: 0 auto;
}
a{
  text-decoration: none;
}
li{
    list-style-type: none;
}
h1{
  margin: 0 97px 0 0;
}
p{
  font-size: 24px;
}
body{
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
.btn{
    display: inline-flex;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    position: absolute;
    width: 298px;
    height: 54px;
    left: calc(50% - 298px/2 + 332px);
    top: 626px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    transition: 0.2s;
     -webkit-transition: 0.2s;
    cursor: pointer;
}
.btn:hover{
    background: #E47209;
}
.btn:active{
    background:#4B9200;
}
.btn[disabled]{
    background:#767474;
    cursor: default;
}

/*Header start*/
.nav_info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header{
    position: fixed;
    width: 100%;
    background-color: black;
    font-weight: 500;
    line-height: 22.4px;
}
.header_inner{
    height: 80px;
    display: flex;
    align-items: center;
    padding: 14px 0;
}
.logo {
  margin-right: 63px;
  line-height: 12px;
}
.nav_link {
    margin-right: 58px;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 140%;
}
.nav_link:after{
    width: 100%;
    height: 2px;
    color: #fff;
    top: 100%;
    left: 0;
    content: "";
    opacity: 0;
    transition: opacity .2s ease;
}
.nav_link:last-child{
    margin-right: 0;
}
.nav_link:hover:after{
    opacity: 1;
    background-color: #F9804B;
}
.nav_link:hover{
    opacity: 1;
    color: #F9804B;
}
.nav_link:active{
    opacity: 1;
    color: #F9804B;
}
.nav_link:focus{
    color: #F9804B;
}
.nav_link.active:hover:after {
    opacity: 1;
   background-color: #F9804B;
}
.nav_link.active {
   background-color: #FFFFF;
}
.header_link{
    color: #FFFFFF;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    position: relative;
    display: flex;
    justify-content: flex-end;
    text-align: right;
}
.header_link:hover{
    color: #F9804B;
}
.header_link:active{
    color: #FFFFFF;
}
.header_link:focus{
    color: #FFFFFF;
}
/* Header end*/

/*Background start*/
.intro_content{
  max-width: 465px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 92px 0 0 820px;
}
.background{
    background: no-repeat;
    background-size: cover;
    height: 780px;
}
/*Background end*/

/*Backstage start*/
.backstage {
  position: relative;
  height: 400px;
  }
  .backstage_foto{
    height: 400px;
    width: 609px;
    background: no-repeat;
    background-size: cover;
    margin-top: 140px;
    backdrop-filter: blur(2px);
}
  .backstage_block {
    background-color: #E1DDD4;
    display: flex;
    flex-direction: column;
  }
  .backstage h2 {
    line-height: 57.6px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #333B41;
  }
  .backstage_inner {
    display: flex;
    flex-direction: row;
    gap: 87px;
    padding-top: 140px;
}
.text{
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}
  .text_accent {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400;
    color: #333B41;
  }
/*Backstage end*/

/*Pets start*/
.pets_inner{
  position: relative;
}
.arrow {
  position: absolute;
  width: 62px;
  height: 62px;
  background-color: #F9804B;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}
.left {
  background-image: url(/assets/images/left.png);
  top: 578px;
  right: 1180px;
}
.right {
  background-image: url(/assets/images/right.png);
  top: 578px;
  left: 1180px;
}
.arrow:hover,
.left:hover,
.right:hover {
  background-color: #4B9200;
  cursor: pointer;
}
.list_block{
  padding-top: 175px;
  display: grid;
  grid-template-columns: repeat(3, 366px);
  grid-row-gap: 20px;
  grid-column-gap: 30px;
}
.block{
  width: 366px;
  border: 1px solid #f9804b;
  border-radius: 5px;
  padding-bottom: 10px;
}
.block>img {
  display: block;
  border-radius: 5px 5px 0 0;
  width: 100%;
  padding-bottom: 8px;
}

.text_block {
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 22.4px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}
.text_block{
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 22.4px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}
.pets_card p{
  font-weight: 300;
  font-size`: 15px;
  line-height: 1.2px;
  color: #000000;
  letter-spacing: 0em;
  text-align: left;
}
.pets_foto{
    width: 366px;
    height: 366px;
}
.block_text{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 12px 0 16px;
}
/*figure.pets_card figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(top, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
	background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(0,50%,0);
	transform: translate3d(0,50%,0);
}
figure.pets_card.text_block {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	color: #f66d52 !important;
	-webkit-transition: -webkit-transform 0.35s, color 0.35s;
	transition: transform 0.35s, color 0.35s;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
}
figure.pets_card figcaption::before,
figure.pets_card p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
figure.pets_card p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	opacity: 0;
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}
figure.pets_card:hover .text_block {
	color: #0000;
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
	transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}
figure.pets_card:hover figcaption::before ,
figure.pets_card:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}*/
.pets_block {
  position: relative;
}
.pets_block::before {
  content: "";
  position: absolute;
  top: 503px;
  left: 0;
  width: 100%;
  height: 100%;
  background: no-repeat url(/assets/images/strelitzia\ 1.png) right;
  z-index: -1;
}

.pets_block::after {
  content: "";
  position: absolute;
  top: 412px;
  left: 0;
  width: 100%;
  height: 100%;
  background: no-repeat url(/assets/images/palm_foto.png) left;
  z-index: -1;
}
/*Pets end*/

/*Friend start*/
.Friend {
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7)
    30.06%, #febdab 100.95%, rgba(254, 210, 144, 0.7) 106.36%),
    linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%,
    rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%,
    #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74)
    30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
    opacity: 0.9;
  }
  .sinner_info {
    padding: 32px 3vw 48px 4vw;
    background: rgba(253, 253, 255, 0.5);
    border-radius: 20px;
  }
  .container h2 {
    color: #fe9013;
    margin-bottom: 32px;
  }
  .container h3 {
    margin-top: 60px;
  }
  .text_accent {
    margin-bottom: 40px;
  }
  .Friend .text {
    margin-bottom: 12px;
    
  }
  .Friend  .text a {
    color: #333b41;
    text-decoration: underline;
    text-decoration-color: #fe9013;
  }
  .Friend .text a:visited {
    color: #333b41;
  }
  .block_list {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  .how_works_list {
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 1520px;
  }
  .how_works_list_item {
    position: relative;
    width: 168px;
    display: inline-block;
    vertical-align: top;
  }
  .how_works_list_item:not(:first-child) {
    margin-left: 128px;
  }
  .how_works_list_item:not(:first-child)::before {
    position: absolute;
    top: 28%;
    left: -40%;
    transform: translateX(-50%);
    content: url(./assets/icons/arrow.svg);
  }
  .how_works_list_icon {
    background-color: #fff;
    height: 168px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #f9804b;
    border-radius: 4px;
  }
  .how-it-works-list_text {
    margin-top: 28px;
  }
/*Friend end*/