@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

*,*:before, *:after{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
html{
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.container {
    max-width: 1160px;
    margin: 0 auto;
}
a{
  text-decoration: none;
}
li{
    list-style-type: none;
}
h1{
  margin: 0 97px 0 0;
}
p{
  font-size: 24px;
}
body{
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
.btn{
    display: inline-flex;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    position: absolute;
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    transition: 0.2s;
     -webkit-transition: 0.2s;
    cursor: pointer;
}
.btn:hover{
    background: #E47209;
}
.btn:active{
    background:#4B9200;
}
.btn[disabled]{
    background:#767474;
    cursor: default;
}
/*Header start*/
nav ul {
  display: flex;
  justify-content: center;
}
h1{
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  margin-left: 280px;
}
.nav_info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header{
    position: fixed;
    width: 100%;
    background-color: black;
    font-weight: 500;
    line-height: 22.4px;
}
.header_inner{
    height: 80px;
    display: flex;
    align-items: center;
    padding: 14px 0;
}
.logo {
  margin-right: 63px;
  line-height: 12px;
}
.nav_link {
    margin-right: 58px;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 140%;
    cursor: pointer;
}
.nav_link:after{
    width: 100%;
    height: 2px;
    color: #fff;
    top: 100%;
    left: 0;
    content: "";
    opacity: 0;
    transition: opacity .2s ease;
}
.nav_link:last-child{
    margin-right: 0;
}
.nav_link.active:hover:after{
    opacity: 1;
    background-color: #F9804B;
}
.nav_link:hover{
    opacity: 1;
    color: #F9804B;
}
.nav_link:active{
    opacity: 1;
    color: #F9804B;
}
.nav_link:focus{
    color: #F9804B;
}
.nav_link.active:hover:after {
    opacity: 1;
   background-color: #F9804B;
   cursor: pointer;
}
.nav_link.active {
   background-color: #FFFFF;
   cursor: pointer;
   color: #F9804B;
}

.header_link{
    color: #FFFFFF;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    position: relative;
    display: flex;
    justify-content: flex-end;
    text-align: right;
}
.header_link:hover{
    color: #F9804B;
}
.header_link:active{
    color: #FFFFFF;
}
.header_link:focus{
    color: #FFFFFF;
}
/* Header end*/

/*Background start*/
.intro_background{
 position: relative;
 left: 750px;
 top: 600px;
}
.background{
    background: no-repeat;
    background-size: cover;
    height: 780px;
}
/*Background end*/

/*Backstage start*/
.backstage {
  position: relative;
  z-index: -1;
  }
  .backstage::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 100%;
    background: no-repeat url(/assets/images/flower_foto1.png) right;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    z-index: -1;
  }
  .backstage_foto{
    height: 400px;
    width: 609px;
    background: no-repeat;
    background-size: cover;
    backdrop-filter: blur(2px);
}
  .backstage_block {
    height: 390px;
    width: 465px;
    display: flex;
    flex-direction: column;
  }
  .backstage h2 {
    margin-bottom: 20px;
    line-height: 57.6px;
    letter-spacing: 0em;
    text-align: left;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #333B41;
  }
  .backstage_inner {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 87px;
    padding-top: 140px;
}
.text{
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}
  .text_accent {
    margin-top: 54px;
    margin-bottom: 34px;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400;
    color: #333B41;
  }
/*Backstage end*/

/*Pets start*/
.intro_pets{
  position: absolute;
  top: 1100px;
  left: 550px;
}
.pets_inner{
  position: relative;
  z-index: -1;
}
.arrow {
  position: absolute;
  width: 62px;
  height: 62px;
  background-color: #F9804B;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}
.left {
  background-image: url(/assets/images/left.png);
  top: 578px;
  right: 1180px;
}
.right {
  background-image: url(/assets/images/right.png);
  top: 578px;
  left: 1180px;
}
.arrow:hover,
.left:hover,
.right:hover {
  background-color: #4B9200;
  cursor: pointer;
}
.list_block{
  padding-top: 175px;
  display: grid;
  grid-template-columns: repeat(3, 366px);
  grid-row-gap: 20px;
  grid-column-gap: 30px;
}
.block{
  width: 366px;
  border: 1px solid #f9804b;
  border-radius: 5px;
  padding-bottom: 10px;
}
.block>img {
  display: block;
  border-radius: 5px 5px 0 0;
  width: 100%;
  padding-bottom: 8px;
}
.text_block{
  padding-bottom: 5px;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 140%;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}
.pets_card p{
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #000000;
  text-align: left;
}
.pets_foto{
    width: 366px;
    height: 366px;
}
.block_text{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 12px 0 16px;
}
/*figure.pets_card figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(top, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
	background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(0,50%,0);
	transform: translate3d(0,50%,0);
}
figure.pets_card.text_block {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	color: #f66d52 !important;
	-webkit-transition: -webkit-transform 0.35s, color 0.35s;
	transition: transform 0.35s, color 0.35s;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
}
figure.pets_card figcaption::before,
figure.pets_card p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
figure.pets_card p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	opacity: 0;
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}
figure.pets_card:hover .text_block {
	color: #0000;
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
	transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}
figure.pets_card:hover figcaption::before ,
figure.pets_card:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}*/
.pets_block {
  position: relative;
}
/*Pets end*/

/*Friend start*/
.intro_friend{
  position: relative;
  left: 360px;
}
#friend {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
  margin-top: 200px;
  margin-bottom: 160px;
  z-index: -5;
  }
  .friend_text_1{
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333B41;
  padding-bottom: 40px;
  }
  .friend_text_2{
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 10px;
  line-height: 130%;
  color: #333B41;
  }
  .friend_text_3{
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    padding-bottom: 60px;
    color: #333B41;
  }
  .friend_inner {
    display: flex;
    flex-direction: column;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding: 32px 3vw 100px 4vw;
  }
  .friend_inner h2{
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    padding: 0 0 20px 252px;
    color: #E47209;
  }
  .friend_inner h3 {
    font-size: 36px;
    font-weight: 400;
    line-height: 47px;
    padding: 0 0 40px 390px;
  }
  .list_people{
    display: grid;
    grid-template-columns: 168px 69px 168px 69px 168px;
    grid-column-gap: 30px;
    margin: 0 100px;
  }
  .list_people{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 60px;
  }
  .work_list {
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 1520px;
  }
  .work_list_common {
    position: relative;
    width: 168px;
    display: inline-block;
    vertical-align: top;
  }
  .work_list_common:not(:first-child) {
    margin-left: 128px;
  }
  .work_list_common:not(:first-child)::before {
    position: absolute;
    top: 28%;
    left: -40%;
    transform: translateX(-50%);
    content: url(/assets/images/Arrow\ 2.png);
  }
  .work_list_icon {
    background-color: #fff;
    height: 168px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #f9804b;
    border-radius: 4px;
  }
  .work_list_text {
    margin-top: 28px;
  }
  .emergency {
    display: inline-block;
    border-bottom: 1px solid #E47209;
  }
/*Friend end*/

/*Testimonials start*/
.testimonials{
  margin-bottom: 180px;
}
.next{
  border-radius: 5px;
}
.intro_testimonials{
  position: relative
  top:60px;
}
.name_text{
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #000000;
}
.testimonials.container{
  padding-top: 69px;
  padding-bottom: 100px;
}
.place{
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #BDBDBD;
  z-index: -1;
}
.testimonials_text{
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #767474;
}
.testimonials_block {
  position: relative;
  z-index: -1;
}
.testimonials_block {
  margin: 0;
  padding: 0;
  gap:29;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}
.testimonials_inner {
  width: 272px;
  padding: 16px;
  background:#F1F3F2;
  border: 2px solid #E47209;
  border-radius: 20px;
}
.testimonials h3 {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  padding: 0 0 0 500px;
  color: #333B41;
}
.user img {
  vertical-align: top;
}
.name_text {
  display: inline-block;
}
.place {
  display: inline-block;
}
.testimonials_slider {
  display: flex;
}
.footer p{
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  }
.slider {
  margin: 20px auto 32px;
  -webkit-appearance: none;
  outline: none;
  height: 8px;
  width: 600px;
  background-color: #fdfdff;
  border: 1px solid #fe9013;
  border-radius: 4px;
  background-image: linear-gradient(var(--color-32), var(--color-32));
  background-repeat: no-repeat;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 4.8px;
  width: 120px;
  border-radius: 4px;
  background-color: #fe9013;
  cursor: pointer;
}
.slider::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: #fdfdff;
}
.slider::-webkit-slider-thumb:hover {
  box-shadow: #ffd8ab 0px 0px 0px 6px;
}
.aside-image {
  position: absolute;
  bottom: 0;
  transform: translateY(20%);
}
.aside-image--right {
  right: 0;
}
/*Testimonials end*/

/*Footer start*/
.intro_footer{
  position: relative;
  bottom: 60px;
}
.footer {
  background-color: #000;
  color: #fff;
}
.footer.container {
  padding-top: 40px;
  padding-bottom: 48px;
}
.footer_inner {
  display: flex;
  justify-content: space-between;
}
.footer_logo {
  display: flex;
  flex-direction: column;
}
.logo {
  margin-top: 41px;
  margin-bottom: 166px;
}
.footer h3{
  padding: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #FFFFFF;
}
.intro_footer {
  width: 300px;
  display: block;
  text-align: center;
}
.footer_submit {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
.subscribe-text {
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 0;
  font-weight: 300;
  text-align: right;
  color: #ababab;
}
.email {
  box-sizing: border-box;
  padding: 9px;
  border: 1px solid #fe9013;
  border-radius: 4px;
  outline: transparent;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #fff;
  background-color: inherit;
}
.footer_social {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 44px;
}
.footer_submit{
  content: "";
  position: absolute;
  left: 800px;
  font-size: 16px;
  font-weight: 100;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  justify-content: space-between;
  padding-left: 32px
}
.submit {
  width: 129px;
  height: 42px;
  background: #F1F3F2;
  border-radius: 5px;
  color: #4B9200;
  border: 1px solid #4B9200;
}
.footer_submit{
  content: "";
  position: absolute;
  left: 800px;
}
/*Footer end*/