@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

*,*:before, *:after{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
html{
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.container {
    max-width: 1160px;
    margin: 0 auto;
}
a{
  text-decoration: none;
}
li{
    list-style-type: none;
}
h1{
  margin: 0 97px 0 0;
}
p{
  font-size: 24px;
}
body{
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
.btn{
    display: inline-flex;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    position: absolute;
    width: 298px;
    height: 54px;
    left: calc(50% - 298px/2 + 332px);
    top: 626px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    transition: 0.2s;
     -webkit-transition: 0.2s;
    cursor: pointer;
}
.btn:hover{
    background: #E47209;
}
.btn:active{
    background:#4B9200;
}
.btn[disabled]{
    background:#767474;
    cursor: default;
}

/*Header start*/
.header{
    position: fixed;
    width: 100%;
    background-color: black;
    font-weight: 500;
    line-height: 22.4px;
}
.header_inner{
    height: 80px;
    display: flex;
    align-items: center;
    padding: 14px 0;
}
.logo {
  margin-right: 63px;
  line-height: 12px;
}
.nav_info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav_link {
    margin-right: 58px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    line-height: 140%;
}
.nav_link:after{
    width: 100%;
    height: 2px;
    color: #fff;
    top: 100%;
    left: 0;
    content: "";
    opacity: 0;
    transition: opacity .2s ease;
}
.nav_link:last-child{
    margin-right: 0;
}
.nav_link:hover:after{
    opacity: 1;
    background-color: #F9804B;
}
.nav_link:hover{
    opacity: 1;
    color: #F9804B;
}
.nav_link:active{
    opacity: 1;
    color: #F9804B;
}
.nav_link:focus{
    color: #F9804B;
}
.nav_link.active:hover:after {
    opacity: 1;
   background-color: #F9804B;
}
.nav_link.active {
   background-color: #FFFFF;
}
.header_link{
    color: #FFFFFF;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    position: relative;
    display: flex;
    justify-content: flex-end;
    text-align: right;
}
.header_link:hover{
    color: #F9804B;
}
.header_link:active{
    color: #FFFFFF;
}
.header_link:focus{
    color: #FFFFFF;
}
/* Header end*/

/*Background start*/
.intro_content{
  max-width: 465px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 92px 0 0 820px;
}
.background{
    background: no-repeat;
    background-size: cover;
    height: 780px;
}
/*Background end*/

/*Backstage start*/
.backstage {
  position: relative;
  height: 400px;
  }
  .backstage_foto{
    height: 400px;
    width: 609px;
    background: no-repeat;
    background-size: cover;
    margin-top: 140px;
    backdrop-filter: blur(2px);
}
  .backstage_block {
    background-color: #E1DDD4;
    display: flex;
    flex-direction: column;
  }

  .backstage h2 {
    line-height: 57.6px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #333B41;
  }
  .backstage_inner {
    display: flex;
    flex-direction: row;
    gap: 87px;
    padding-top: 140px;
}
.text{
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}
  .text_accent {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400;
    color: #333B41;
  }
/*Backstage end*/

/*Pets start*/
.pets_card{
    display: flex;
    margin: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1%;
}
.block_1,.block_2, .block_3{
    margin-top: 180px;
    margin-bottom: 20px;
    position: relative;
    width: 366px;
    height: 426px;
    background: no-repeat;
    background-size: cover;
    display: block;
    border: 2px solid #f9804b;
    border-radius: 4px;
}
.block_4, .block_5, .block_6{
    position: relative;
    width: 366px;
    height: 426px;
    background: no-repeat;
    background-size: cover;
    display: block;
    border: 2px solid #f9804b;
    border-radius: 4px;
}
.pets_foto{
    vertical-align: top;
    overflow: hidden;
    flex-shrink: 0;
    width: 366px;
    height: 366px;
}
.text{
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 120%;
color: #000000;
width: 294px;
height: 18px;
left: 16px;
top: 394px;
}
.hover-effect-scale {
    list-style:none;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 0;
}
.hover-effect-scale li {
    position: relative;
    display: inline-block;
    background-color: #fff;
    margin: 0;
    box-shadow: 1px 3px 1px 0 rgba(0, 0, 0, 0.08);
    overflow: hidden;
}
.hover-effect-scale li p{
    color: #fff;
    margin: 5px;
}
.hover-effect-scale li > div {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hover-effect-scale li:hover > div {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.hover-effect-scale li div {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.35); /* Фон блока при наведении */
    transition: all 0.4s ease-in-out;
    color: #fff;
}
.hover-effect-scale li {
    transition: all 0.2s linear;
}
.hover-effect-scale li:hover {
    transform: scale(1.3);
}
.hover-effect-scale li:hover div {
    opacity: 1;
}
/*Pets end*/

/*Friend start*/
.Friend {
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7)
    30.06%, #febdab 100.95%, rgba(254, 210, 144, 0.7) 106.36%),
    linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%,
    rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%,
    #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74)
    30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
    opacity: 0.9;
  }
  .sinner_info {
    padding: 32px 3vw 48px 4vw;
    background: rgba(253, 253, 255, 0.5);
    border-radius: 20px;
  }
  .container h2 {
    color: #fe9013;
    margin-bottom: 32px;
  }
  .container h3 {
    margin-top: 60px;
  }
  .text_accent {
    margin-bottom: 40px;
  }
  .Friend .text {
    margin-bottom: 12px;
    
  }
  .Friend  .text a {
    color: #333b41;
    text-decoration: underline;
    text-decoration-color: #fe9013;
  }
  .Friend .text a:visited {
    color: #333b41;
  }
  .block_list {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  .how_works_list {
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 1520px;
  }
  .how_works_list_item {
    position: relative;
    width: 168px;
    display: inline-block;
    vertical-align: top;
  }
  .how_works_list_item:not(:first-child) {
    margin-left: 128px;
  }
  .how_works_list_item:not(:first-child)::before {
    position: absolute;
    top: 28%;
    left: -40%;
    transform: translateX(-50%);
    content: url(./assets/icons/arrow.svg);
  }
  .how_works_list_icon {
    background-color: #fff;
    height: 168px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #f9804b;
    border-radius: 4px;
  }
  .how-it-works-list_text {
    margin-top: 28px;
  }
/*Friend end*/